.font-party-element{
  float: left;
  width: 30px;
  height: 60px;
  background-image: url(font-party.gif);
}
.font-party-char-a{background-position: -0px -0px;}
.font-party-char-b{background-position: -30px -0px;}
.font-party-char-c{background-position: -60px -0px;}
.font-party-char-d{background-position: -90px -0px;}
.font-party-char-e{background-position: -120px -0px;}
.font-party-char-f{background-position: -150px -0px;}
.font-party-char-g{background-position: -180px -0px;}
.font-party-char-h{background-position: -210px -0px;}
.font-party-char-i{background-position: -240px -0px;}
.font-party-char-j{background-position: -270px -0px;}
.font-party-char-k{background-position: -0px -60px;}
.font-party-char-l{background-position: -30px -60px;}
.font-party-char-m{background-position: -60px -60px;}
.font-party-char-n{background-position: -90px -60px;}
.font-party-char-o{background-position: -120px -60px;}
.font-party-char-p{background-position: -150px -60px;}
.font-party-char-q{background-position: -180px -60px;}
.font-party-char-r{background-position: -210px -60px;}
.font-party-char-s{background-position: -240px -60px;}
.font-party-char-t{background-position: -270px -60px;}
.font-party-char-u{background-position: -0px -120px;}
.font-party-char-v{background-position: -30px -120px;}
.font-party-char-w{background-position: -60px -120px;}
.font-party-char-x{background-position: -90px -120px;}
.font-party-char-y{background-position: -120px -120px;}
.font-party-char-z{background-position: -150px -120px;}
.font-party-char-A{background-position: -0px -180px;}
.font-party-char-B{background-position: -30px -180px;}
.font-party-char-C{background-position: -60px -180px;}
.font-party-char-E{background-position: -120px -180px;}
.font-party-char-D{background-position: -90px -180px;}
.font-party-char-E{background-position: -120px -180px;}
.font-party-char-F{background-position: -150px -180px;}
.font-party-char-G{background-position: -180px -180px;}
.font-party-char-H{background-position: -210px -180px;}
.font-party-char-I{background-position: -240px -180px;}
.font-party-char-J{background-position: -270px -180px;}
.font-party-char-K{background-position: -0px -240px;}
.font-party-char-L{background-position: -30px -240px;}
.font-party-char-M{background-position: -60px -240px;}
.font-party-char-O{background-position: -120px -240px;}
.font-party-char-P{background-position: -150px -240px;}
.font-party-char-Q{background-position: -180px -240px;}
.font-party-char-R{background-position: -210px -240px;}
.font-party-char-S{background-position: -240px -240px;}
.font-party-char-T{background-position: -270px -240px;}
.font-party-char-U{background-position: -0px -300px;}
.font-party-char-V{background-position: -30px -300px;}
.font-party-char-W{background-position: -60px -300px;}
.font-party-char-X{background-position: -90px -300px;}
.font-party-char-Y{background-position: -120px -300px;}
.font-party-char-Z{background-position: -150px -300px;}
