.font-party-letter-a{background-position: -0px -0px;}
.font-party-letter-b{background-position: -30px -0px;}
.font-party-letter-c{background-position: -60px -0px;}
.font-party-letter-d{background-position: -90px -0px;}
.font-party-letter-e{background-position: -120px -0px;}
.font-party-letter-f{background-position: -150px -0px;}
.font-party-letter-g{background-position: -180px -0px;}
.font-party-letter-h{background-position: -210px -0px;}
.font-party-letter-i{background-position: -240px -0px;}
.font-party-letter-j{background-position: -270px -0px;}
.font-party-letter-k{background-position: -0px -60px;}
.font-party-letter-l{background-position: -30px -60px;}
.font-party-letter-m{background-position: -60px -60px;}
.font-party-letter-n{background-position: -90px -60px;}
.font-party-letter-o{background-position: -120px -60px;}
.font-party-letter-p{background-position: -150px -60px;}
.font-party-letter-q{background-position: -180px -60px;}
.font-party-letter-r{background-position: -210px -60px;}
.font-party-letter-s{background-position: -240px -60px;}
.font-party-letter-t{background-position: -270px -60px;}
.font-party-letter-u{background-position: -0px -120px;}
.font-party-letter-v{background-position: -30px -120px;}
.font-party-letter-w{background-position: -60px -120px;}
.font-party-letter-x{background-position: -90px -120px;}
.font-party-letter-y{background-position: -120px -120px;}
.font-party-letter-z{background-position: -150px -120px;}
