.font-party{ overflow: auto; width: 100%; }
.font-party-element{
  float: left;
  width: 40px;
  height: 40px;
  background-image: url(pepe.css);
}
.font-party-char-65{background-position: -0px -0px;}
.font-party-char-66{background-position: -40px -0px;}
.font-party-char-67{background-position: -80px -0px;}
.font-party-char-68{background-position: -120px -0px;}
.font-party-char-69{background-position: -160px -0px;}
.font-party-char-70{background-position: -200px -0px;}
.font-party-char-71{background-position: -240px -0px;}
.font-party-char-72{background-position: -280px -0px;}
.font-party-char-73{background-position: -320px -0px;}
.font-party-char-74{background-position: -360px -0px;}
.font-party-char-75{background-position: -0px -40px;}
.font-party-char-76{background-position: -40px -40px;}
.font-party-char-77{background-position: -80px -40px;}
.font-party-char-78{background-position: -120px -40px;}
.font-party-char-79{background-position: -160px -40px;}
.font-party-char-80{background-position: -200px -40px;}
.font-party-char-81{background-position: -240px -40px;}
.font-party-char-82{background-position: -280px -40px;}
.font-party-char-83{background-position: -320px -40px;}
.font-party-char-84{background-position: -360px -40px;}
.font-party-char-85{background-position: -0px -80px;}
.font-party-char-86{background-position: -40px -80px;}
.font-party-char-88{background-position: -80px -80px;}
.font-party-char-89{background-position: -120px -80px;}
.font-party-char-90{background-position: -160px -80px;}
.font-party-char-97{background-position: -0px -120px;}
.font-party-char-98{background-position: -40px -120px;}
.font-party-char-99{background-position: -80px -120px;}
.font-party-char-100{background-position: -120px -120px;}
.font-party-char-101{background-position: -160px -120px;}
.font-party-char-102{background-position: -200px -120px;}
.font-party-char-103{background-position: -240px -120px;}
.font-party-char-104{background-position: -280px -120px;}
.font-party-char-105{background-position: -320px -120px;}
.font-party-char-106{background-position: -360px -120px;}
.font-party-char-107{background-position: -0px -160px;}
.font-party-char-108{background-position: -40px -160px;}
.font-party-char-109{background-position: -80px -160px;}
.font-party-char-110{background-position: -120px -160px;}
.font-party-char-111{background-position: -160px -160px;}
.font-party-char-112{background-position: -200px -160px;}
.font-party-char-113{background-position: -240px -160px;}
.font-party-char-114{background-position: -280px -160px;}
.font-party-char-115{background-position: -320px -160px;}
.font-party-char-116{background-position: -360px -160px;}
.font-party-char-117{background-position: -0px -200px;}
.font-party-char-118{background-position: -40px -200px;}
.font-party-char-119{background-position: -80px -200px;}
.font-party-char-120{background-position: -120px -200px;}
.font-party-char-121{background-position: -160px -200px;}
.font-party-char-122{background-position: -200px -200px;}
.font-party-char-49{background-position: -0px -240px;}
.font-party-char-50{background-position: -40px -240px;}
.font-party-char-51{background-position: -80px -240px;}
.font-party-char-52{background-position: -120px -240px;}
.font-party-char-53{background-position: -160px -240px;}
.font-party-char-54{background-position: -200px -240px;}
.font-party-char-55{background-position: -240px -240px;}
.font-party-char-56{background-position: -280px -240px;}
.font-party-char-57{background-position: -320px -240px;}
.font-party-char-48{background-position: -360px -240px;}
.font-party-char-32{background-position: -0px -280px;}
.font-party-char-46{background-position: -40px -280px;}
.font-party-char-44{background-position: -80px -280px;}
.font-party-char-59{background-position: -120px -280px;}
.font-party-char-58{background-position: -160px -280px;}
